input
{
    margin-left: 5px;
}
div
{
    background-color: lightblue;
    height: 60%;
    width: 30%;
}
a{
    margin-top: -20px;
}
h1
{
    color: blue;
    background-color:lightgreen;
}
button
{
    font-size: 20px;
}